<a href="{{ path('comment_delete', {'id': comment.id}) }}" class="btn btn-danger" onclick="deleteComment('{{ path('comment_delete', {'id': comment.id}) }}'); return false;">
    {{ 'action.delete'|trans }}
</a>

<script>
    function deleteComment(deleteUrl) {
        fetch(deleteUrl, {
            method: 'DELETE',
        });
        window.location.href = "{{ path('comment_index') }}";
    }
</script>
