.btn-custom {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #45a049;
}


.link-custom {
    color: #007bff;
    text-decoration: none;
}

.link-custom:hover {
    color: #0056b3;
    text-decoration: underline;
}

.bg-custom {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

.btn-primary, .btn-secondary, .btn-info, .btn-warning, .btn-success {
    margin-right: 0.5rem;
}

.btn-outline-primary, .btn-outline-warning, .btn-outline-danger {
    margin-right: 0.5rem;
}


